* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", sans-serif;
}

header {
  background-color: #365885;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 86px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.status-bar {
  width: auto;
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.search {
  margin-left: 4px;
}

h1 {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 22px;
}

.bus-list {
  margin: 86px 0 49px 0;
}

.bus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  padding-right: 15px;
  border-bottom: 1px solid #003171;
  margin-left: 25px;
}

.bus__line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
}

.line__number {
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  background-color: #003171;
  color: #fff;
  height: 52px;
  min-width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.line__info {
  padding-left: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bus__schedule {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  color: #003171;
}

.bus__schedule--arriving {
  color: #5B8930;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  box-shadow: 0px -0.7px 0px rgba(0, 0, 0, 0.3);
  height: 49px;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  padding: 0 32px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.tab {
  text-align: center;
  color: #A1A1A1;
}

.tab--selected {
  color: #365885;
}

.bus:last-child {
  border-bottom: none;
}
